<div class="row mb-2">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <a asp-controller="User" asp-action="Create" class="btn btn-primary">Novo Usuário</a>
    </div>
</div>